@media screen{

body {
  background-color: #59C9A5;
  font-family: 'Helvetica';
  margin: 10px 0;
}

p{

color: #fff;
}

}

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin: 0;
  padding: 14px 0;
  color: #fff;
  text-align: left;
  font-size: 16.5vw;
}


.subtitle {
  margin-left: 0;
  padding-left: 14px;
  color: #fff;
  text-align: left;
}


.smalltitle{
margin-top: 10%;

}

.flexbox-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 14px 0;

}

h3{
  color: #fff;
    border-bottom: 2px solid white;
}

.flex-item {
  width: 100%;
  align-self: flex-end;
}

.flex-item p {
  font-size: 14px;
}

.name {
  font-size: 4vw;
}

.name h2 {
  margin: 14px 0;
}


@media (min-width: 540px){
  .flex-item {
    width: 45%;
  }

  .name {
    font-size: 3vw;
  }
}

@media (min-width: 768px){
  body {
    padding: 30px 0;
  }

  .flex-item {
    width: 20%;
  }

  .name {
    width: 35%;
    font-size: 2vw;
  }
}


@media screen and (max-width: 768px) {

body {

background-color: #EF6F6C;

}



@media screen and (max-width: 480px) {

    body {

    background-color: #465775;

    }
}



@media (min-width: 1024px){
  body {
    margin: 10px 0;
    background-color: #56E39F;
  }

  .content {
    width: 80%;
  }

  .title {
    font-size: 15vw;
  }
}
